.msg {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto;
  max-width: 40%;
  width: fit-content;
}

.received {
  justify-content: flex-start;
  margin-left: 0;
}

.sended {
  justify-content: flex-end;
  margin-right: 0;
}

.sended > .msgPhoto {
  order: 1;
}

.msgPhoto {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.text {
  margin: auto 20px;
  white-space: pre-wrap;
  font-size: larger;
}

.senderName {
  font-weight: bolder;
  margin: 0
}

.msgText {
  margin: 0
}